@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
/* font-family: 'Pacifico', cursive; */

html, body {
  margin: 0;
  height: 100vh;
}

::-webkit-scrollbar {
  width: 0px;
}

.background {
  width: 100vw;
  display: grid;
  justify-items: center;
  background-color: #FBD132;
}

h1 {
  margin: 0;
  font-family: 'Pacifico', cursive; 
  font-size: 10rem;
  letter-spacing: 1.8rem;
  color:#323E48;
  align-self: center;
  position: sticky;
  top: 10vh;
}

.arrows {
  display: grid;
  justify-items: center;
}

#one {
  height: 100vh;
}

#earth-container {
  height: 50vh;
}

#earth {
   max-width: 35%;
}

#three {
  height: 25vh;
  align-items: end;
}

#logo {
  max-width: 60vw;
}


@media screen and (max-width: 414px) {
  h1 {
    font-size: 5rem;
    letter-spacing: 1rem;
  }
}

@media screen and (max-width: 768px) {
#earth {
  max-width: 50%;
  }
} 